@model ImageGallery.Data.TblImage

@{
    ViewData["Title"] = "Create";
}

<<h1>Upload New Image</h1>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>
    <div>
        <label>Image File:</label>
        <input type="file" name="file" />
    </div>
    <button type="submit">Upload</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
